body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/public/images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.topBar {
    background: linear-gradient(90deg, #657086, #1e232e);
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topBar .title {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.buttonContainer {
    display: flex;
    align-items: center;
    width: 90%;
}

.burgerMenu {
    font-size: 24px;
    cursor: pointer;
    margin-left: auto; 
    margin-right: 20px; 
}

.sideMenu {
    width: 200px; 
    position: fixed;
    top: 50%;
    right: 84%;
    transform: translate(-50%, -50%);
    background-color: #657086; 
    overflow-y: auto; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.sideMenu button {
    color: #000000;
    display: block; 
    width: 100%; 
    padding: 8px 10px; 
    margin: 2px 0; 
    background-color: #657086; 
    border: none; 
    text-align: left; 
    cursor: pointer; 
}

.sideMenu button:hover {
    color: white;
    background-color: #343a46; 
}

.upatras-logo {
    display: block;
    margin: 0 auto; 
    max-width: 200px; 
}

.dropdownMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px; 
    right: 40px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1001;
    width: auto; 
}

.dropdownButton {
    background-color: #fff;
    color: #343a46;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.dropdownButton:hover {
    background-color: #f2f2f2;
}

.leftButton {
    background-color: #fff;
    color: #343a46;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 10px;
}

.rightButton {
    background-color: #fff;
    color: #343a46;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 10px;
    position: absolute;
    right: 3%;
    width: auto;
    text-align: center;
}

.rightButton:hover {
    background-color: #343a46;
    color: white;
}

.topBar button:hover {
    background-color: #343a46;
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px 20px;
    padding-top: 60px; 
}

.announcementBoard, .timetable {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin-left: left;
    margin-right: auto; 
}

.announcementBoard h2, .timetable h2 {
    text-align: center;
}

.timetable table {
    width: 100%;
    border-collapse: collapse;
}

.timetable th, .timetable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.timetable th {
    background-color: #343a46;
    color: white;
}

.upatras-full-logo {
    display: block;
    margin: 0 auto; 
    max-width: 500px;
}

.loginPage {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 70px;
    right: 10px;
    transform: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: #343a46;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color: #343a46;
}

.forms {
    margin-top: 60px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
}

.forms h2 {
    text-align: center;
}

.forms select, .forms button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 200px;
}

.forms ul {
    list-style-type: none;
    padding: 0;
}

.forms li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

button.close-button {
    position: absolute;
    top: -10px;
    right: 1px;
    background: whitesmoke;
    border: none;
    font-size: 14px;
    cursor: pointer;
    z-index: 1001;
    color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px; 
}

button.close-button:hover {
    background: red;
}

.thesis-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thesis-details {
    margin-left: 20px;
}

.center-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.center-button button {
    margin: 5px 0; 
    width: 100%; 
    max-width: 200px;
}

.pdf-viewer {
    margin-top: 10px;
    border: none;
}

/* Responsive styles */
@media (max-width: 600px) {
    .topBar {
        padding: 5px 10px;
    }

    .topBar .title {
        font-size: 16px;
    }

    .topBar button {
        padding: 3px 8px;
        font-size: 10px;
        margin-right: 5px;
    }

    .topBar .rightButton {
        margin-right: 20px;
    }

    .dropdownMenu {
        right: 20px;
    }

    .sideMenu {
        display: none;
    }

    .content {
        padding: 70px 10px 10px;
        flex-direction: column;
    }

    .announcementBoard, .timetable {
        padding: 15px;
    }

    .timetable th, .timetable td {
        padding: 6px;
    }
    
    .ceid-logo {
        max-width: 350px;
    }

    .loginPage {
        position: static;
        transform: none;
        margin-top: 20px;
    }
}

/* Desktop styles */
@media (min-width: 601px) {
    .burgerMenu {
        display: none; 
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
    }

    .announcementBoard, .timetable {
        margin-right: 20px;
    }

    .loginPage {
        position: absolute;
        top: 70px;
        right: 10px;
        transform: none;
    }
}